<div class="container">
  <div
    class="character"
    [style.top]="characterPosition.y + 'px'"
    [style.left]="characterPosition.x + 'px'"
    [class.retourne]="direction == 'right'"
    [class.hidden]="selectedMenu != -1"
  >
    <img [src]="frame" [class.shadow]="!isJumping" />
  </div>

  <div class="vie">
    <img src="coeur.png" *ngFor="let coeur of vie" />
  </div>

  <img
    class="touches"
    src="touches.png"
    [style.opacity]="showtouches ? 1 : 0"
  />

  <img class="background" src="bg.png" />

  <img
    src="nuage.png"
    *ngFor="let cloud of clouds"
    [style.top]="cloud.y + 'px'"
    [style.left]="cloud.x + 'px'"
    [style.width]="cloud.width + 'px'"
    class="cloud"
  />
  <img
    src="rocket.png"
    *ngFor="let rocket of rockets"
    [style.top]="rocket.y + 'px'"
    [style.left]="rocket.x + 'px'"
    [style.width]="rocket.width + 'px'"
    class="cloud rocket"
  />

  <canvas
    id="myCanvas"
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  ></canvas>

  <div class="leftPanel">
    <div class="bloc" (click)="lang == 'fr' ? (lang = 'en') : (lang = 'fr')">
      <img src="bloc.png" />
      <img class="lang" src="{{ lang }}.png" />
    </div>
    <div
      *ngFor="let menu of menus; let i = index"
      class="tuyautxt"
      (click)="tpMario(i)"
      [class.selectedTuyau]="i == selectedMenu"
    >
      <img class="tuyau" src="tuyau.png" />
      <p>{{ lang == "fr" ? menu.fr : menu.en }}</p>
    </div>
    <div class="nomPlateforme">
      <div *ngFor="let menu of menus">
        <img class="plateforme" src="plateforme.png" />
      </div>
    </div>
  </div>

  <div class="content" [class.hidden]="selectedMenu == -1">
    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 0">
      <img class="photo" src="photo.jpg" />
      <p class="title">Charles POURE</p>
      <p class="secondTitle">
        {{
          lang == "fr"
            ? "Ingénieur d'études et développement"
            : "Research and Development Engineer"
        }}
      </p>
      <p class="resume">
        {{
          lang == "fr"
            ? "Développeur spécialisé en Front Angular / Back Java avec expérience
        significative en développement d'applications mobiles et bases de
        données"
            : "Specialized Front-End Angular / Back-End Java Developer with significant experience in mobile application development and databases"
        }}
      </p>
      <div class="coord" *ngIf="lang == 'fr'">
        <p>Né le 23/10/1995</p>
        <p>Téléphone : 06.82.01.57.34</p>
        <p>Email : charles.poure&#64;hotmail.com</p>
        <p>Addresse : 43 chemin de la Cabre 13790 Chateauneuf le rouge</p>
      </div>
      <div class="coord" *ngIf="lang == 'en'">
        <p>Born on 10/23/1995</p>
        <p>Phone: 06.82.01.57.34</p>
        <p>Email: charles.poure&#64;hotmail.com</p>
        <p>Address: 43 Chemin de la Cabre, 13790 Châteauneuf-le-Rouge</p>
      </div>

      <div class="description" *ngIf="lang == 'fr'">
        <p class="secondTitle">Back End</p>
        <p>
          J'ai découvert la programmation sur calculatrice Casio à treize ans en
          codant un RPG avec toutes les ressources dont la machine disposait..
          (très peu en l'occurance)
        </p>
        <p>
          Je me suis ensuite interessé à des langages qui fournissaient plus
          d'outils pour laisser libre cours à mon imagination
        </p>
        <p>
          - Tout d'abord Flash en programmant un jeu de gestion style "Age of
          Empires"
        </p>
        <p>
          - Puis Python grâce auquel j'ai pu coder un jeu de combat style Tekken
        </p>
        <p>
          - Et enfin Java avec qui depuis je développe une multitude de
          programmes au fil de mes envies.
        </p>
        <p class="secondTitle">Front End</p>
        <p>
          J'ai commencé et découvert la programmation web en HTML/CSS pendant
          mes études et me suis familiarisé avec plusieurs outils comme Ajax,
          Tomcat, XML, PHP etc..
        </p>
        <p>
          Ce n'est que pendant ma première expérience professionnelle que j'ai
          rencontré Angular avec qui aujourd'hui j'entretiens une relation toute
          particulère
        </p>
        <p>
          Depuis lors, je me suis spécialisé dans le développement web en
          Angular et créé une multitude de projets personnels lorsque j'ai envie
          de faire vivre une idée qui me passe par la tête
        </p>
        <p class="secondTitle">Autre</p>
        <p>Langues :</p>
        <p>- Anglais confirmé/courant</p>
        <p>- Espagnol scolaire</p>
        <p>Atouts :</p>
        <p>- Autonome : Très bonne logique / Capacité d'adaptation</p>
        <p>- Curieux : Touche à tout, soif d'apprendre et de découvrir</p>
        <p>Hobbies</p>
        <p>- Geek : Séries, Mangas, Jeux-Vidéo</p>
        <p>- Créatif : Cosplay, Musicien</p>
      </div>
      <div class="description" *ngIf="lang == 'en'">
        <p class="secondTitle">Back End</p>
        <p>
          I discovered programming on a Casio calculator at the age of thirteen
          by coding an RPG with all the resources the machine had... (very few
          indeed)
        </p>
        <p>
          I then became interested in languages that provided more tools to give
          free rein to my imagination.
        </p>
        <p>
          - First, Flash, by programming a management game like "Age of Empires"
        </p>
        <p>
          - Then Python, which allowed me to code a fighting game like Tekken
        </p>
        <p>
          - And finally Java, with which I have since developed a multitude of
          programs according to my desires.
        </p>
        <p class="secondTitle">Front End</p>
        <p>
          I started and discovered web programming in HTML/CSS during my studies
          and became familiar with several tools like Ajax, Tomcat, XML, PHP,
          etc.
        </p>
        <p>
          It was only during my first professional experience that I encountered
          Angular, with which today I have a special relationship.
        </p>
        <p>
          Since then, I have specialized in web development with Angular and
          created a multitude of personal projects whenever I want to bring an
          idea to life that comes to my mind.
        </p>
        <p class="secondTitle">Other</p>
        <p>Languages:</p>
        <p>- English: Fluent/Advanced</p>
        <p>- Spanish: Basic proficiency</p>
        <p>Strengths:</p>
        <p>- Independent: Strong logical thinking / Adaptability</p>
        <p>- Curious: Jack-of-all-trades, eager to learn and explore</p>
        <p>Hobbies:</p>
        <p>- Geek: Series, Manga, Video Games</p>
        <p>- Creative: Cosplay, Musician</p>
      </div>
    </div>

    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 1">
      <p class="title">
        {{ lang == "fr" ? menus[selectedMenu].fr : menus[selectedMenu].en }}
      </p>
      <div class="description" *ngIf="lang == 'fr'">
        <p class="secondTitle">Education générale</p>
        <p>
          J'ai suivi un cursus scientifique avec comme spécialité "Informatique
          et Sciences du numérique". J'ai obtenu mon Bac avec mention et
          décroché la note parfaite en développant un jeu de combat Tekken en
          Python avec la librairie Pygame pour le bac de ma spécialité
        </p>
        <p class="secondTitle">Education supérieure</p>
        <p>
          Je me suis orienté vers un DUT Informatique ce qui m'a permis de
          découvrir beaucoup de technologies et langages différents
        </p>
        <p>
          Malheureusement je voulais me spécaliser en développement full stack
          Java/Web et j'ai trouvé la formation trop disparat pour ce que je
          recherchais
        </p>
        <p>
          J'ai décroché mon diplôme sans mal avec des moyennes quasi parfaites
          dans les langages que je préferais
        </p>
        <p>&nbsp;</p>
        <p>
          Après cela j'ai voulu continuer mon cursus en intégrant une license
          mais le même schéma se répétait. Je m'ennuyait dans mes domaines de
          prédiléction.
        </p>
        <p>&nbsp;</p>
        <p>
          J'ai donc arrêté mes études à ce niveau pour me concentrer sur un
          apprentissage personnel en développant mes propres applications
          mobiles/web et applicatives
        </p>
      </div>
      <div class="description" *ngIf="lang == 'en'">
        <p class="secondTitle">General Education</p>
        <p>
          I followed a scientific curriculum with a specialty in "Computer
          Science and Digital Sciences". I graduated with honors and achieved a
          perfect score by developing a Tekken fighting game in Python with the
          Pygame library for my specialty exam.
        </p>
        <p class="secondTitle">Higher Education</p>
        <p>
          I pursued a DUT in Computer Science, which allowed me to discover many
          different technologies and languages.
        </p>
        <p>
          Unfortunately, I wanted to specialize in full stack Java/Web
          development and found the curriculum too scattered for what I was
          looking for.
        </p>
        <p>
          I graduated without difficulty, with near-perfect grades in the
          languages I preferred.
        </p>
        <p>&nbsp;</p>
        <p>
          After that, I wanted to continue my studies by pursuing a bachelor's
          degree, but the same pattern repeated. I was bored in my areas of
          preference.
        </p>
        <p>&nbsp;</p>
        <p>
          So I stopped my studies at this level to focus on self-learning by
          developing my own mobile/web and application projects.
        </p>
      </div>
    </div>

    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 2">
      <p class="title">
        {{ lang == "fr" ? menus[selectedMenu].fr : menus[selectedMenu].en }}
      </p>
      <div *ngIf="lang == 'fr'">
        <div class="exp">
          <p class="nom">Développeur Full Stack C# Angular (Remote)</p>
          <div class="top">
            <p>A2mac1</p>
            <p>02/2023 - 03/2024</p>
          </div>
          <img src="pro0.png" />
          <p class="desc">
            Maintenance et ajout de fonctionnalités sur la solution web dans le
            secteur automobile Ajout complet des tests e2e dans l’application
            Optimisation des requêtes lourdes Développement d’outils internes
            d’aide aux différentes équipes en Java Participation forte à la
            méthodologie agile en place
          </p>
          <p class="secondTitle">
            Angular 2+(70%), C#(30%), Java, Typescript, Azure DevOps, e2e, SQL
          </p>
        </div>
        <div class="exp">
          <p class="nom">Pilote d'études (Remote)</p>
          <div class="top">
            <p>Akka Technologies</p>
            <p>03/2022 - 12/2022</p>
          </div>
          <img src="pro1.png" />
          <p class="desc">
            Mission de 6 mois pour le groupe Thalès dirigée exclusivement Front
            Angular Création de nouvelles fonctionnalités sur l'application
            Maintenance de l'application dans son ensemble Mise en place d'un
            système de communication général entre les différentes sous parties
            du système Programmation de tests End to End (e2e)
          </p>
          <p class="secondTitle">
            Angular 2+(100%), Typescript, Git, NGXS, e2e
          </p>
        </div>
        <div class="exp">
          <p class="nom">Développeur Full Stack Java Angular (Remote)</p>
          <div class="top">
            <p>CGI France</p>
            <p>03-2021 - 02-2022</p>
          </div>
          <img src="pro2.png" />
          <p class="desc">
            Maintenance des différentes applications dans les secteurs
            e-commerce/administration française Développement d'un intranet from
            scratch en Angular basé sur le besoin d'un outil de gestion des
            temps des différents collaborateurs Mise en place d'outils
            d'automatisation en Java
          </p>
          <p class="secondTitle">
            Java(60%), Angular 2+(40%), Typescript, MySQL, HTML/CSS, Git,
            Jenkins, Sonar, NGXS, AWS, Wildfly, Thymeleaf, Jira REST Api, Nexus
          </p>
        </div>
        <div class="exp">
          <p class="nom">Développeur Indépendant (Remote)</p>
          <div class="top">
            <p>ASC Arma Softwares</p>
            <p>03/2019 - 03/2021</p>
          </div>
          <img src="pro3.png" />
          <p class="desc">
            Réalisation de différents projets pour des associations et des
            particuliers Programmation d'applications web dans les secteurs
            e-commerce/ventes Développements logiciels en Java dans les secteurs
            mobiles/jeux-vidéo Création et administration de bases de données
            MySQL
          </p>
          <p class="secondTitle">
            Java(50%), Angular 2+(50%), Typescript, MySQL, HTML/CSS, Git,
            Python, Sonar, TomCat, RiotAPI, RPA, Slick2D, LWJGL
          </p>
        </div>
        <div class="exp">
          <p class="nom">Ingénieur d'études et développements</p>
          <div class="top">
            <p>ST Groupe</p>
            <p>08/2018 - 03/2019</p>
          </div>
          <img src="pro4.png" />
          <p class="desc">
            Maintenance d'une application web puis réalisation d'un projet from
            scratch en autonomie Développement d'un outil RPA avec comme
            contraintes une lecture de fichiers d'entrée de n'importe quel
            format, une transformation des données parfaite et un format de
            sortie attendu Création d'un site complet pour que les clients
            puissent suivre en direct l'évolution du traitement de leurs
            fichiers dans l'outil RPA et modifier les règles de transformation
          </p>
          <p class="secondTitle">
            Java(60%), Angular 2+(40%), Typescript, MySQL, HTML/CSS, Git, Sonar,
            TomCat, Jenkins, Nexus, PostgreSQL, SSO, MongoDB
          </p>
        </div>
        <div class="exp">
          <p class="nom">Ingénieur FullStack Java/J2EE, Angular</p>
          <div class="top">
            <p>Aubay</p>
            <p>05/2017 - 11/2017</p>
          </div>
          <img src="pro5.png" />
          <p class="desc">
            Maintenance d'une application web dans le secteur banques/assurances
            Rédaction de documents techniques et fonctionnels Rédactions et
            déroulement des cas de tests techniques
          </p>
          <p class="secondTitle">
            Java(40%), AngularJS(20%), Angular 2+(40%), Javascript, MySQL,
            HTML/CSS, Git, Sonar, TomCat, Jenkins, Nexus, PostgreSQL
          </p>
        </div>
        <div class="exp">
          <p class="nom">Sous officier Informaticien</p>
          <div class="top">
            <p>Armée de l'air</p>
            <p>09/2016 - 05/2017</p>
          </div>
          <img src="pro6.png" />
          <p class="desc"></p>
          <p class="secondTitle"></p>
        </div>
      </div>
      <div *ngIf="lang == 'en'">
        <div class="exp">
          <p class="nom">Full Stack C# Angular Developer (Remote)</p>
          <div class="top">
            <p>A2mac1</p>
            <p>02/2023 - 03/2024</p>
          </div>
          <img src="pro0.png" />
          <p class="desc">
            Maintenance and feature development for the web solution in the
            automotive sector Full implementation of end-to-end (e2e) tests in
            the application Optimization of heavy queries Development of
            internal tools to assist various teams in Java Strong participation
            in the agile methodology in place
          </p>
          <p class="secondTitle">
            Angular 2+ (70%), C# (30%), Java, TypeScript, Azure DevOps, e2e, SQL
          </p>
        </div>

        <div class="exp">
          <p class="nom">Study Lead (Remote)</p>
          <div class="top">
            <p>Akka Technologies</p>
            <p>03/2022 - 12/2022</p>
          </div>
          <img src="pro1.png" />
          <p class="desc">
            Six-month mission for the Thalès group, exclusively focused on
            Angular frontend Development of new features for the application
            Full maintenance of the application Implementation of a general
            communication system between the different subparts of the system
            Programming of End-to-End (e2e) tests
          </p>
          <p class="secondTitle">
            Angular 2+ (100%), TypeScript, Git, NGXS, e2e
          </p>
        </div>

        <div class="exp">
          <p class="nom">Full Stack Java Angular Developer (Remote)</p>
          <div class="top">
            <p>CGI France</p>
            <p>03/2021 - 02/2022</p>
          </div>
          <img src="pro2.png" />
          <p class="desc">
            Maintenance of various applications in the e-commerce and French
            administration sectors Development of an intranet from scratch in
            Angular based on the need for a time management tool for various
            collaborators Implementation of automation tools in Java
          </p>
          <p class="secondTitle">
            Java (60%), Angular 2+ (40%), TypeScript, MySQL, HTML/CSS, Git,
            Jenkins, Sonar, NGXS, AWS, Wildfly, Thymeleaf, Jira REST API, Nexus
          </p>
        </div>

        <div class="exp">
          <p class="nom">Freelance Developer (Remote)</p>
          <div class="top">
            <p>ASC Arma Softwares</p>
            <p>03/2019 - 03/2021</p>
          </div>
          <img src="pro3.png" />
          <p class="desc">
            Development of various projects for associations and individuals Web
            application programming in the e-commerce/sales sectors Software
            development in Java for mobile and video game industries Creation
            and administration of MySQL databases
          </p>
          <p class="secondTitle">
            Java (50%), Angular 2+ (50%), TypeScript, MySQL, HTML/CSS, Git,
            Python, Sonar, TomCat, RiotAPI, RPA, Slick2D, LWJGL
          </p>
        </div>

        <div class="exp">
          <p class="nom">Software Engineer</p>
          <div class="top">
            <p>ST Groupe</p>
            <p>08/2018 - 03/2019</p>
          </div>
          <img src="pro4.png" />
          <p class="desc">
            Maintenance of a web application followed by the independent
            development of a project from scratch Development of an RPA tool
            with constraints such as reading input files in any format, perfect
            data transformation, and an expected output format Creation of a
            complete website allowing clients to track the real-time processing
            of their files in the RPA tool and modify transformation rules
          </p>
          <p class="secondTitle">
            Java (60%), Angular 2+ (40%), TypeScript, MySQL, HTML/CSS, Git,
            Sonar, TomCat, Jenkins, Nexus, PostgreSQL, SSO, MongoDB
          </p>
        </div>

        <div class="exp">
          <p class="nom">Full Stack Java/J2EE, Angular Engineer</p>
          <div class="top">
            <p>Aubay</p>
            <p>05/2017 - 11/2017</p>
          </div>
          <img src="pro5.png" />
          <p class="desc">
            Maintenance of a web application in the banking/insurance sector
            Writing of technical and functional documents Writing and execution
            of technical test cases
          </p>
          <p class="secondTitle">
            Java (40%), AngularJS (20%), Angular 2+ (40%), JavaScript, MySQL,
            HTML/CSS, Git, Sonar, TomCat, Jenkins, Nexus, PostgreSQL
          </p>
        </div>

        <div class="exp">
          <p class="nom">IT Non-Commissioned Officer</p>
          <div class="top">
            <p>French Air Force</p>
            <p>09/2016 - 05/2017</p>
          </div>
          <img src="pro6.png" />
          <p class="desc"></p>
          <p class="secondTitle"></p>
        </div>
      </div>
    </div>

    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 3">
      <p class="title">
        {{ lang == "fr" ? menus[selectedMenu].fr : menus[selectedMenu].en }}
      </p>
      <p class="firstDiv">
        Java, Angular 2+, SQL, HTML, CSS, XML, Python, Shell, R, Jira, C#
      </p>
      <div class="jauge">
        <div class="first" [style.width]="83 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">
        Eclipse, Visual Studio, Android Studio, Adobe Suite, Unity, Git
      </p>
      <div class="jauge">
        <div class="first" [style.width]="76 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">
        Typescript, Slick2D, LWJGL, R Studio, J2EE, RPA, Jenkins, MariaDB
      </p>
      <div class="jauge">
        <div class="first" [style.width]="72 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">
        C, C++, .NET, Thymeleaf, WildFly, Tomcat, Javascript, PHP, AngularJS
      </p>
      <div class="jauge">
        <div class="first" [style.width]="67 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">
        WebStorm, PostgreSQL, Grunt, Hibernate, Spring, DBC, REST, Django
      </p>
      <div class="jauge">
        <div class="first" [style.width]="60 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">Npm, JQuery, BootStrap, WordPress, React, Vue</p>
      <div class="jauge">
        <div class="first" [style.width]="55 + '%'"></div>
        <div></div>
      </div>
      <p class="firstDiv">Objective C, Swift</p>
      <div class="jauge">
        <div class="first" [style.width]="50 + '%'"></div>
        <div></div>
      </div>
    </div>
    <div
      *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 4"
      class="projets"
    >
      <p class="title">
        {{ lang == "fr" ? menus[selectedMenu].fr : menus[selectedMenu].en }}
      </p>
      <div class="top">
        <img class="retourne" (click)="addproj(-1)" src="droite.png" />
        <p>{{ projets[nbproj].nom }}</p>
        <img src="droite.png" (click)="addproj(1)" />
      </div>
      <p
        class="desc"
        [innerHTML]="lang == 'fr' ? projets[nbproj].desc : projets[nbproj].en"
      ></p>
      <iframe [src]="projets[nbproj].link" frameborder="0"></iframe>
    </div>
  </div>

  <div class="sol">
    <img *ngFor="let bloc of sol" src="bloc.png" />
  </div>
</div>
