<div class="container">
  <div
    class="character"
    [style.top]="characterPosition.y + 'px'"
    [style.left]="characterPosition.x + 'px'"
    [class.retourne]="direction == 'right'"
    [class.hidden]="selectedMenu != -1"
  >
    <img [src]="frame" [class.shadow]="!isJumping" />
  </div>

  <div class="vie">
    <img src="coeur.png" *ngFor="let coeur of vie" />
  </div>

  <img class="background" src="bg.png" />

  <img
    src="nuage.png"
    *ngFor="let cloud of clouds"
    [style.top]="cloud.y + 'px'"
    [style.left]="cloud.x + 'px'"
    [style.width]="cloud.width + 'px'"
    class="cloud"
  />

  <canvas
    id="myCanvas"
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  ></canvas>

  <div class="leftPanel">
    <div class="bloc">
      <img src="bloc.png" />
      <img class="lang" src="{{ lang }}.png" />
    </div>
    <div
      *ngFor="let menu of menus; let i = index"
      class="tuyautxt"
      [class.selectedTuyau]="i == selectedMenu"
    >
      <img class="tuyau" src="tuyau.png" />
      <p>{{ lang == "fr" ? menu.fr : menu.en }}</p>
    </div>
    <div class="nomPlateforme">
      <div *ngFor="let menu of menus">
        <img class="plateforme" src="plateforme.png" />
      </div>
    </div>
  </div>

  <div class="content" [class.hidden]="selectedMenu == -1">
    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 0">
      <img class="photo" src="photo.jpg" />
      <p class="title">Charles POURE</p>
      <p class="secondTitle">
        {{
          lang == "fr"
            ? "Ingénieur d'études et développement"
            : "Research and Development Engineer"
        }}
      </p>
      <p class="resume">
        {{
          lang == "fr"
            ? "Développeur spécialisé en Front Angular / Back Java avec expérience
        significative en développement d'applications mobiles et bases de
        données"
            : "Specialized Front-End Angular / Back-End Java Developer with significant experience in mobile application development and databases"
        }}
      </p>
      <div class="description" *ngIf="lang == 'fr'">
        <p class="secondTitle">Back End</p>
        <p>
          J'ai découvert la programmation sur calculatrice Casio à treize ans en
          codant un RPG avec toutes les ressources dont la machine disposait..
          (très peu en l'occurance)
        </p>
        <p>
          Je me suis ensuite interessé à des langages qui fournissaient plus
          d'outils pour laisser libre cours à mon imagination
        </p>
        <p>
          - Tout d'abord Flash en programmant un jeu de gestion style "Age of
          Empires"
        </p>
        <p>
          - Puis Python grâce auquel j'ai pu coder un jeu de combat style Tekken
        </p>
        <p>
          - Et enfin Java avec qui depuis je développe une multitude de
          programmes au fil de mes envies.
        </p>
        <p class="secondTitle">Front End</p>
        <p>
          J'ai commencé et découvert la programmation web en HTML/CSS pendant
          mes études et me suis familiarisé avec plusieurs outils comme Ajax,
          Tomcat, XML, PHP etc..
        </p>
        <p>
          Ce n'est que pendant ma première expérience professionnelle que j'ai
          rencontré Angular avec qui aujourd'hui j'entretiens une relation toute
          particulère
        </p>
        <p>
          Depuis lors, je me suis spécialisé dans le développement web en
          Angular et créé une multitude de projets personnels lorsque j'ai envie
          de faire vivre une idée qui me passe par la tête
        </p>
      </div>
      <div class="description" *ngIf="lang == 'en'">
        <p class="secondTitle">Back End</p>
        <p>
          I discovered programming on a Casio calculator at the age of thirteen
          by coding an RPG with all the resources the machine had... (very few
          indeed)
        </p>
        <p>
          I then became interested in languages that provided more tools to give
          free rein to my imagination.
        </p>
        <p>
          - First, Flash, by programming a management game like "Age of Empires"
        </p>
        <p>
          - Then Python, which allowed me to code a fighting game like Tekken
        </p>
        <p>
          - And finally Java, with which I have since developed a multitude of
          programs according to my desires.
        </p>
        <p class="secondTitle">Front End</p>
        <p>
          I started and discovered web programming in HTML/CSS during my studies
          and became familiar with several tools like Ajax, Tomcat, XML, PHP,
          etc.
        </p>
        <p>
          It was only during my first professional experience that I encountered
          Angular, with which today I have a special relationship.
        </p>
        <p>
          Since then, I have specialized in web development with Angular and
          created a multitude of personal projects whenever I want to bring an
          idea to life that comes to my mind.
        </p>
      </div>
    </div>

    <div *ngIf="selectedMenu != -1 && menus[selectedMenu].id == 1">
      <p class="title">
        {{ lang == "fr" ? menus[selectedMenu].fr : menus[selectedMenu].en }}
      </p>
      <div class="description" *ngIf="lang == 'fr'">
        <p class="secondTitle">Education générale</p>
        <p>
          J'ai suivi un cursus scientifique avec comme spécialité "Informatique
          et Sciences du numérique". J'ai botenu mon Bac avec mention et
          décroché la note parfaite en développant un jeu de combat Tekken en
          Python avec la librairie Pygame pour le bac de ma spécialité
        </p>
        <p class="secondTitle">Education supérieure</p>
        <p>
          Je me suis orienté vers un DUT Informatique ce qui m'a permis de
          découvrir beaucoup de technologies et langages différents
        </p>
        <p>
          Malheureusement je voulais me spécaliser en développement full stack
          Java/Web et j'ai trouvé la formation trop disparat pour ce que je
          recherchais
        </p>
        <p>
          J'ai décroché mon diplôme sans mal avec des moyennes quasi parfaites
          dans les langages que je préferais
        </p>
        <p>&nbsp;</p>
        <p>
          Après cela j'ai voulu continuer mon cursus en intégrant une license
          mais le même schéma se répétait. Je m'ennuyait dans mes domaines de
          prédiléction.
        </p>
        <p>&nbsp;</p>
        <p>
          J'ai donc arrêté mes études à ce niveau pour me concentrer sur un
          apprentissage personnel en développant mes propres applications
          mobiles/web et applicatives
        </p>
      </div>
      <div class="description" *ngIf="lang == 'en'">
        <p class="secondTitle">General Education</p>
        <p>
          I followed a scientific curriculum with a specialty in "Computer
          Science and Digital Sciences". I graduated with honors and achieved a
          perfect score by developing a Tekken fighting game in Python with the
          Pygame library for my specialty exam.
        </p>
        <p class="secondTitle">Higher Education</p>
        <p>
          I pursued a DUT in Computer Science, which allowed me to discover many
          different technologies and languages.
        </p>
        <p>
          Unfortunately, I wanted to specialize in full stack Java/Web
          development and found the curriculum too scattered for what I was
          looking for.
        </p>
        <p>
          I graduated without difficulty, with near-perfect grades in the
          languages I preferred.
        </p>
        <p>&nbsp;</p>
        <p>
          After that, I wanted to continue my studies by pursuing a bachelor's
          degree, but the same pattern repeated. I was bored in my areas of
          preference.
        </p>
        <p>&nbsp;</p>
        <p>
          So I stopped my studies at this level to focus on self-learning by
          developing my own mobile/web and application projects.
        </p>
      </div>
    </div>
  </div>

  <div class="sol">
    <img *ngFor="let bloc of sol" src="bloc.png" />
  </div>
</div>
